<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
    }
    .grid-container1 {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
    }
    .grid-item {
      padding: 20px;
      text-align: center;
    }
    .btn {
      margin-left: 22px;
    }
    .kasper {
      margin: auto;
    }
  </style>
</head>
<body style="background-color: #303030;">
  <div class="card d-flex m-5 p-5 justify-content-center">
    <h1 class="kasper">Kaspers vakre øving 3</h1>
    <div class="grid-container">
      <div class="grid-item">
        <div class="form-group">
          <label for="code">Input kode</label>
          <textarea class="form-control" id="code" rows="8">
          #include <iostream>
          
          using namespace std;
          
          int main() {
          cout << "Hello World" << endl;
          }
        </textarea
          >
        </div>
      </div>

      <div class="grid-item">
        <div class="form-group">
          <label for="output">Resultat</label>
          <textarea
            class="form-control"
            disabled
            id="output"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="grid-container1 w-25">
      <div class="grid-item1">
        <div>
          <button onclick="submit()" class="btn btn-outline-success">
            Kjør kode
          </button>
        </div>
      </div>
      <div class="grid-item1">
        <div>
          <div
            id="spinner"
            style="visibility: hidden;"
            class="spinner-border text-primary"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function submit() {
      console.log(document.getElementById("code").value);
      document.getElementById("spinner").style.visibility = "visible";
      let postdata = JSON.stringify({
        code: document.getElementById("code").value
      });
      console.log(postdata);
      fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: postdata
      })
        .then(response => {
          console.log(response);
          return response.json();
        })
        .then(data => {
          document.getElementById("spinner").style.visibility = "hidden";
          document.getElementById("output").innerHTML = data.output;
          console.log(data.output);
        });
    }
  </script>
</body>
